<html lang="en">
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Inkitt Quiz done by Elvis</h3>
      </div>
    <%= form_for @question, :url => { :action => "next" } do |f| %>  
      <div class="jumbotron" style="background-color: #f7f7f9">
      	<%= f.hidden_field :id %>
        <p><b>Question <%= @question.order %>: <%= @question.description %></b></p>
    	<div class="quiz">
    		<% @question.options.each do |option| %>
    			<div class="quiz-primary">
		            <input type="radio" name="quiz_option_id" id="quiz_option_id<%= option.id %>" value="<%= option.id %>"/>
		            <label for="quiz_option_id<%= option.id %>" click="enableNextButton()"><%= option.description %></label>
		        </div>
			<%end %>
	    </div>
	    <div class="header clearfix">
	    	</br>
	    	<%= f.submit 'Next', :id => 'btnNext', :class => 'btn btn-lg btn-success', :disabled => true %>
        </div>
      </div>
    <% end %>

      <footer class="footer">
        <p>© Elvis Ribeiro</p>
      </footer>

    </div> 

</body></html>

<script type="text/javascript">
  jQuery(document).ready(function(){

    $('input:radio[name="quiz_option_id"]').change(function(){
       $("#btnNext").prop("disabled",false);
    });

  });
</script>