<div class="container">
  <div class="jumbotron" style="background-color: #f7f7f9">
  	<div class="header clearfix">
    	<h2 style="color:#0fad00">Quiz finished - Results</h2>
    </div>
    <table class="table">
    	<tr>
			<td></td>
			<td align="center"><b>Your results</b></td>
			<td align="center"><b>Average for all users</b></td>
		</tr>
		<tr>
			<td><b>Total</b></td>
			<td align="center">
				<b>
				<%= @survey.correct_options %> 
				<% if @survey.correct_options > 1 %>
					corrects 
				<% else %>
					correct 
				<% end %>
				(<%= number_with_precision(100*(@survey.correct_options.to_f/5), :precision => 2) %>%)
				</b>
			</td>
			<td align="center"><b><%= number_with_precision(@surveyResult.rows.first[0], :precision => 2) %> %</b></td>
		</tr>
		<% @survey.answered_questions.each_with_index do |answer, index| %>
			<% if answer.option.correct? %>
				<tr class="success">
			<% else %>
				<tr class="danger">
			<% end %>
				<td><b>Question <%= answer.option.question.order %></b></td>
				<td align="center">
					<% if answer.option.correct? %>
						<span class="glyphicon glyphicon-ok"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				</td>
				<td align="center"><%= number_with_precision(@questionResult.rows[index][0], :precision => 2) %> %</td>
			</tr>
		<%end %>
	</table>
  </div>
</div>