<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br>
        <h2 style="color:#0fad00">Quiz Completed</h2>
        <br>
        <h3>Dear, user</h3>
        <br><br>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for do the quiz. It can answered only once.</p>
    <br><br>
        </div>
        
	</div>
</div>